{% load url from compat %}
{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html lang="en-gb">
<head>
    {% if GOOGLE_ANALYTICS %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GOOGLE_ANALYTICS }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="description" content="{% trans "MapIt: a web service that maps postcodes and geographical points to administrative areas." %}">

    <title>{% block fulltitle %}{% block title %}{% endblock %} - MapIt{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1.0">
    <link href="{% static "mapit/css/mapit.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "mapit/leaflet/leaflet.css" %}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "mapit/leaflet/leaflet.ie.css" %}" />
        <script src="{% static "mapit/js/html5shiv.min.js" %}"></script>
        <script src="{% static "mapit/js/respond.min.js" %}"></script>
    <![endif]-->
    <script src="{% static "mapit/js/reqwest.min.js" %}"></script>
    <script src="{% static "mapit/leaflet/leaflet.js" %}"></script>

    {% block extra_css %}{% endblock %}

{% if norobots %}
    <meta name="robots" content="noindex, follow">
{% endif %}

</head>
<body id="mapit-mysociety-org" class="">
    {% if GOOGLE_ANALYTICS %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_ANALYTICS }}"
     height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <!-- mySociety top strip -->
    <div id="mysociety-org-bar">

        <a class="mysociety-home-link" href="http://www.mysociety.org/">
            <img src="{% static "mapit/img/page-top-mysociety.png" %}"
                 alt="{% trans "MapIt is a charitable project from mySociety" %}" width="362" height="32">
        </a>

        <a class="mysociety-donate-link" href="http://www.mysociety.org/donate/">
            <img src="{% static "mapit/img/page-top-donate.png" %}"
                 alt="{% trans "Keep us online, Donate Now" %}" width="160" height="32">
        </a>

    </div>

    {% if request.path != '/' %}
    <header class="header">
        <a class="docs_link" href="{% url "mapit_index" %}"><img src="{% static "mapit/img/home-icon.png" %}" alt="" width="16" height="14" /> {% trans "Home &amp; Documentation" %}</a>
        <h1><a href="{% url "mapit_index" %}">Map<em>It</em><em class="mapit-type">: {% include "mapit/country.html" %}</em></a></h1>
    </header>

    <article class="content">
    {% endif %}
    {% block content %}
    {% endblock %}
    {% if request.path != '/' %}
    </article>
    {% endif %}

    <footer class="footer" role="contentinfo">
        <h1>Map<em>It</em><em class="mapit-type">: {% include "mapit/country.html" %}</em>
            <a href="http://www.djangoproject.com/"><img align="middle" src="{% static "mapit/img/pony.png" %}" border="0" alt="{% trans "Django powered" %}"></a>
        </h1>

        <div class="database-credits">
            {% include "mapit/copyright.html" %}
        </div>

    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>

